results/baseline/*
results/unrolled/checkpoints/*
results/unrolled/plots/*
results/unrolled/logs/*

!results/unrolled/checkpoints/.gitkeep
!results/unrolled/plots/.gitkeep
!results/unrolled/logs/.gitkeep

gpu_env/